/* Card */
.card:hover {
  z-index: 1;
}

.card_outside {
  transform: rotate(1.2deg);
  margin: 20px 10px;
}

.card_inside {
  padding: 5px;
  background-color: #d9d9d9;
  color: #666666;
  transform: rotate(-1.2deg);
}
