* {
    margin: 0;
    padding: 0;
    /*     text-align: center;
 */
}

html {
    height: 100%;
}

body {
    background: #777777;
    color: honeydew;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.wrapper {
    flex: 1 0 auto;
    padding: 20px;
    margin-top: 6vh;

}

.align-center{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron {
    font-size: 0.8rem;
    animation: jumboIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */

}

.wrapper .container {
    text-align: center;
    margin-top: 10vh;
}

.picture-carousel {
    margin: 10%;
}

.carousel-item {
    height: 100%;
    width: 100%;
    
}

@keyframes jumboIn{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#carouselExampleIndicators{
    animation: pictureCarouselIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
}

@keyframes pictureCarouselIn{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}