* {
    margin: 0;
    padding: 0;
    /*     text-align: center;
 */
}

html {
    height: 100%;
}

body {
    background: #777777;
    color: honeydew;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    flex: 1 0 auto;
    padding: 20px;
    margin-top: 6vh;

}

.jumbotron {
    font-size: 0.8rem;
}

.wrapper .container {
    text-align: center;
    margin-top: 10vh;
}

.picture-carousel {
    margin: 10%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}