* {
    margin: 0;
    padding: 0;
    /*     text-align: center;
 */
}

html {
    height: 100%;

}

#mapid{
    height: 80vh;
    width: 80vw;
    margin-left: 8%;

}

body {
    min-width: 320px;
    background: #777777;
    color: honeydew;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto Slab', serif !important;

}


.wrapper {
    flex: 1 0 auto;
    padding: 20px;
    margin-top: 6vh;

}

.fix{
    max-height: calc(100% - 66px);
}

.wrapper .col-4{
    max-height: 100%;
}

.row-1{
    height: 100vh;
    display: contents;
}

#logo{
    max-height: 25vw;
    margin: 10px 0 0 25%;
}

.align-center{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron {
    font-size: 0.8rem;
    animation: jumboIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
    padding: 2%;

}

.jumbotron h1, .jumbotron p {
    padding: 1%;
    text-align: center;
    margin: 5%;
} 
.wrapper .container {
    text-align: center;
    margin-top: 10vh;
}


.picture-carousel {
    margin: 10%;
}

.carousel-item {
    height: 100%;
    width: 100%;
    
}

/*Add animation (btn color)*/

@keyframes colorChange{
    from{
        background-color: white ;


    }
    to{
    background-color: #4CAF50;

    }
}

@keyframes jumboIn{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#carouselExampleIndicators{
    animation: pictureCarouselIn 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
}

@keyframes pictureCarouselIn{
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#popup{
    display: none;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    background: #333;
    border-radius: 6px;
    padding: 15px;
    animation: fadeIn 1s;
    transform: translate(-50%,-50%);
}

#opacity{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: none;
}



/* Add animation (fade in the popup) */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  