body {
  min-width: 320px;
  font-size: 18px;
} 

.wrapper {
  background-image: url("../pictures/title_evora.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px 0;

  margin: 0;
  margin-top: 50px;
} 

.div_text {
  width: 80%;
  margin: 0 auto;
}

/* Title of the card */
.text_title {
  color: #6ab04c;
  text-align: center;
  font-weight: 700;
}

/* Title of the elements */
.sub_title {
  color: #4da6ff;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}

/* .wrapper_monuments {

} */

/* Popup Images */
.img_city,
.img_monuments_chapel_bones,
.img_gastronomy_migas_alentejana,
.img_monuments_temple_diana,
.img_gastronomy_acorda_alentejana {
  margin: 4px;
  transition: all 2s ease-in-out;
  transform: scale(1);
}

.img_city:hover,
.img_monuments_chapel_bones:hover,
.img_gastronomy_migas_alentejana:hover,
.img_monuments_temple_diana:hover,
.img_gastronomy_acorda_alentejana:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.8);
}

/* This is to the element not pass to another */
.clear {
  clear: both;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Modal */
.modal_title {
  color: #6ab04c;
  font-weight: 600;
}

.modal_text {
  margin-top: 0;
  color: black;
}

.fade-scale {
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  -moz-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

img {
  width: 300px;
  height: auto;
  max-width: 100%;
} 

@keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .img_city,
  .img_monuments_chapel_bones,
  .img_gastronomy_migas_alentejana,
  .img_monuments_temple_diana,
  .img_gastronomy_acorda_alentejana {
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  .img_city:hover,
  .img_monuments_chapel_bones:hover,
  .img_gastronomy_migas_alentejana:hover,
  .img_monuments_temple_diana:hover,
  .img_gastronomy_acorda_alentejana:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 2rem;
    text-align: justify;
  } 
} 

