body {
  min-width: 320px;
  font-size: 18px;
}

.div_text {
  width: 80%;
  margin: 0 auto;
}

/* Title of the card */
.text_title_Evora {
  font-size: 4rem;
}

.text_title,
.text_title_Evora {
  color: #4caf50;
  text-align: center;
  font-weight: 800;
}

/* Title of the elements */
.sub_title {
  color: #719192;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}

/* Text in div's */
.text {
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  border-spacing: 1px;
}

/* Buttons color */
.btn-background {
  color: rgb(128, 128, 128);
  background-color: #fff;
  border: 1px solid #fff;
}

.btn-background:hover {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

/* Buttons close in the Modal */
.close {
  color: #e60000;
} 

.close:hover {
  color: #e60000;
} 

/* Links (a) */
a {
  text-decoration: none;
  /* color: #719192; */
  color: #4caf50;
}

a:hover {
  text-decoration: none;
  color: #8bbabb;
}

/* Alignment of the images */
.img_city_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Popup Images */
.img_city,
.img_monuments_chapel_bones,
.img_gastronomy_migas_alentejana,
.img_monuments_temple_diana,
.img_gastronomy_acorda_alentejana {
  transition: all 1.3s ease-in-out;
  transform: scale(1);
}

.img_city:hover,
.img_monuments_chapel_bones:hover,
.img_gastronomy_migas_alentejana:hover,
.img_monuments_temple_diana:hover,
.img_gastronomy_acorda_alentejana:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.8);
}

/* Imagens margens */
.img_city {
  margin: 10px;
} 

.img_monuments_temple_diana, .img_monuments_chapel_bones {
  margin-right: 10px;
} 

.img_gastronomy_acorda_alentejana, .img_gastronomy_migas_alentejana {
  margin-left: 10px;
} 

/* This is to the element not pass to another */
.clear {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Modal */
.modal_title {
  color: #4caf50;
  font-weight: 600;
}

.modal_text {
  margin-top: 0;
  color: black;
}

.fade-scale {
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  -moz-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

/* Modal when is open is the Modal content */
.modal-content {
  margin-top: 50px;
} 

img {
  width: 300px;
  height: auto;
  max-width: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .img_city,
  .img_monuments_chapel_bones,
  .img_gastronomy_migas_alentejana,
  .img_monuments_temple_diana,
  .img_gastronomy_acorda_alentejana {
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  .img_city:hover,
  .img_monuments_chapel_bones:hover,
  .img_gastronomy_migas_alentejana:hover,
  .img_monuments_temple_diana:hover,
  .img_gastronomy_acorda_alentejana:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: 2rem;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  /* Title of the card */
  .text_title_Evora {
    font-size: 2.1rem;
  }
}

/* Media Query for low resolution Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Title of the card */
  .text_title_Evora {
    font-size: 2.9rem;
  }
}

